
.software-member {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
  }
  
  /* .software-photo {
    width: 150px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px; 
    margin-bottom: 0; 
  } */
  
  .software-photo {
    max-width: 200px;    /* Maximum width set to 200px */
    min-width: 200px;    /* Minimum width set to 150px */
    max-height: 120px;    /* Maximum width set to 200px */
    height: auto;        /* Height set to auto to maintain aspect ratio */
    object-fit: contain; /* Ensures the image is scaled correctly within the element */
    margin-right: 20px;  /* Right margin added */
    margin-bottom: 0; /* Remove bottom margin */
    /* Remove border-radius if not needed */
}

  .software-name {
    font-size: 24px; /* Larger font size for the name */
    font-weight: bold;
    margin: 0;
    color: #333;
  }
  
  .software-role {
    font-size: 18px; /* Slightly smaller font size for the role */
    color: #666;
    margin: 0;
  }
  
  .software-summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    font-size: 14px; /* Smaller font size for the bio */
    color: #666;
    margin-top: 10px; /* Space above the bio */
  }
  
  .software-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  /* Additional info styling */
  .software-info a {
    color: #1a0dab; /* Link color */
    text-decoration: none;
  }
  
  .software-info a:hover {
    text-decoration: underline;
  }
  
  .software-info .contact-info {
    margin-top: 5px; /* Space between bio and contact info */
  }
  
  .software-info .contact-info span {
    display: block; /* Each piece of contact info on a new line */
    margin-bottom: 2px; /* Space between contact info lines */
  }
  
  /* Adjustments for mobile views */
  @media (max-width: 768px) {
    .software-member {
        flex-direction: column;
        align-items: flex-start;
    }

    .software-photo {
        width: 80px;
        height: 80px;
        margin-right: 0; /* Remove right margin on mobile */
        margin-bottom: 10px; /* Add bottom margin back on mobile */
    }
  
    .software-name {
      font-size: 20px;
    }
  
    .software-role {
      font-size: 16px;
    }
  
    .software-bio {
      font-size: 12px;
    }
  }

  .software-links {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap between links as needed */
  }
  
  .software-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .software-links a i {
    margin-right: 5px;
  }