{{- $highlightColor := .Site.Params.style.vars.highlightColor | default (.Site.Params.highlightColor | default "#e22d30") -}}

.team-member {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: flex-start; /* Aligns children at the top */
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.team-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.team-left {
  flex-shrink: 0; /* Prevents the left section from shrinking */
  width: 20%; /* Adjust this percentage based on your design */
  min-width: 120px; /* Adjust this value based on the minimum size of the image */  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px; /* Adjust spacing between left and right sections */
  margin-top: 0;
}

.team-name {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.team-role {
  font-size: 15px;
  color: #666;
  margin: 0;
}

.team-icons {
  font-size: 14px;
  color: {{ $highlightColor }};
  margin: 0px;
}

.team-icons i {
  font-size: 16px;
  color: #B24C63;
  margin-top: 10px;
}

.team-info {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
}

.team-bio {
  font-size: 14px;
  margin-top: 0px;
}

/* Additional info styling */
/* ... include your existing styles for .team-info a, .team-info a:hover, .contact-info, etc. ... */

/* Adjustments for mobile views */
@media (max-width: 768px) {
  .team-member {
      flex-direction: column;
      align-items: center;
  }

  .team-left,
  .team-info {
      align-items: center;
      width: 100%;
  }

  .team-photo {
      width: 80px;
      height: 80px;
  }

  .team-name {
      font-size: 20px;
  }

  .team-role {
      font-size: 16px;
  }

  .team-bio {
      font-size: 12px;
  }
}

/* Highlight color variable */
/* Adjust this as per your theme or requirement */
:root {
  --highlight-color: #e22d30; /* Example color */
}

.team-info a {
  color: var(--highlight-color);
  text-decoration: none;
}

.team-info a:hover {
  text-decoration: underline;
}
