body { 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #fffff8;
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter; 
}

code {
    background-color: #f7f7f7;
    font-size: 0.95em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.6; 
}
    
pre code {
    width: 100% !important;
    padding-left: 0 !important; 
}

pre {
    width: 55%;
}
      
      
