body { 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    /* font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; */
    /* font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; */
    background-color: #fffff8;
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter; 
}

code {
    background-color: #fffff8;
    font-size: 0.95em;
    /* font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; */
    font-size: 1.125rem;
    line-height: 1.6;
}
    
pre code {
    background-color: #fffff8;
    width: 100% !important;
    padding-left: 0 !important;
    display: block;
    overflow-x: scroll;
    font-size: 1.2rem;
}

.highlight pre {
    background-color: #fffff8
}

.highlight {
    background-color: #fffff8
}

pre {
    background-color: #fffff8;
    width: 55%;
}

@media screen and (max-width: 1000px) {
    iframe {
        display: none;
    }
}


iframe{
    overflow:hidden;
    height:80vh;
    width:100%;
    border-width:1px;
}


@media (max-width: 700px) {                  
    .content-to-hide {
       display: none;
    }
 }